.dashboard {
}

.dashboard1 {
}

.dashboard1 h6 {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32.9px;
  color: #000000;
  margin: 0;
}

.dashboard1 p {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8b909a;
  margin: 0;
  margin-top: 10px;
}

.dashboard3 {
  width: auto;
  height: auto;
  border-radius: 12px;
  border: 1px solid #d1d1d1;
  padding: 15px 10px 15px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 30px;
}

.dashboard4 {
  width: auto;
  height: auto;
  border-radius: 16px;
  border: 1px solid #e0e2e7;
  padding: 24px;
  cursor: pointer;
}

.dashboard4 p {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #32343e;
  margin: 0;
}

.dashboard5 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
}

.dashboard5 h6 {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #245196;
  margin: 0;
}

.dashboard5 span {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9f9f9f;
  margin: 0;
  padding-top: 10px;
}

.dashboard6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.dashboard7 {
  box-shadow: 0px 4px 30px 0px #2e2d740d;
  border: 1px solid #f0f1f3;
  border-radius: 12px;
  padding: 15px;
}

.dashboard8 {
  /* border: 1px solid #630b1a; */
}

.dashboard9 {
  border: 1px solid #e0e2e7;
  border-radius: 12px;
  width: auto;
  height: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard9 h6 {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #fece48;
  margin: 0;
  margin-top: 10px;
}

.dashboard10 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dashboard10 p {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #32343e;
  margin: 0;
}

.dashboard11 {
  box-shadow: 0px 4px 30px 0px #2e2d740d;
  border: 1px solid #f0f1f3;
  border-radius: 12px;
  padding: 24px;
  margin-top: 20px;
}

.dashboard12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard12 h6 {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}

.dashboard13 {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.dashboard14 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard14 p {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #32343e;
  margin: 0;
}

.dashboard15 {
  width: 108px;
  margin: auto;
  height: 6px;
  background-color: #e9e7fd;
  border-radius: 9999px;
  overflow: hidden;
}

.dashboard16 {
  height: 100%;
  border-radius: 9999px;
  background-color: #245196;
}

.dashboard17 {
  display: flex;
  align-items: center;
}

.dashboard17 p {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #32343e;
  margin: 0;
}

.dashboard18 {
  margin-top: 50px;
}

.dashboard19 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
}

.dashboard19 h6 {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  color: #23272e;
  margin: 0;
}

.dashboard20 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dashboard21 {
  width: 205px;
  height: 40px;
  border: 1px solid #c2c6ce;
  display: flex;
  align-items: center;
  border-radius: 24px;
  background-color: #eeeeee;
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard21 input {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
  padding-left: 10px;
}

.dashboard21 input::placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #32343e;
  margin: 0;
}

.dashboard22 {
  width: auto;
  height: 40px;
  border: 1px solid #c2c6ce;
  padding: 0px 24px 0px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 24px;
  background-color: #eeeeee;
  padding-left: 10px;
  cursor: pointer;
}

.dashboard22 p {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #32343e;
  margin: 0;
}

.dashboard23 p {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: #32343e;
  margin: 0;
  cursor: pointer;
}

.dashboard24 {
  margin-top: 20px;
}

.dashboard244 {
  overflow: auto;
  overflow-x: scroll;
}

.dashboard24 table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

.dashboard24 table th {
  border-bottom: 1px solid #dbdade;
  padding: 8px 20px 8px 20px;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15.28px;
  color: #8b909a;
  margin: 0;
  /* text-align: center; */
  /* white-space: nowrap; */
}

.dashboard24 table td {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #23272e;
  margin: 0;
  text-align: center;
  padding-top: 26px;
  cursor: pointer;
  /* text-align: center; */
  /* white-space: nowrap; */
}

.dashboard25 h5 {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}

.dashboard25 p {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #9f9f9f;
  margin: 0;
}

.dashboard26 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.dashboard27 {
  width: auto;
  height: 32px;
  padding: 0px 14px 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #28c76f;
  border-radius: 16px;
}

.dashboard27 p {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}

.dashboard28 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin: auto;
  margin-top: 50px;
}

.dashboard28 p {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  margin: 0;
}

.dashboard29 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard30 {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #f3f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dashboard31 {
  width: auto;
  height: auto;
  padding: 6px;
  border-radius: 8px;
  background-color: #f3f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dashboard31 p {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}
