.brands {
  margin-top: 20px;
}

.brands1 {
  width: 98%;
  margin: auto;
  margin-top: 50px;
}

.brands2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  cursor: pointer;
}

.brands3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.brands3 img {
  max-width: 100px;
}

.brands4 {
}

.brands4 h6 {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #32343e;
  margin: 0;
}

/* add brand  css */

.addbrand {
  box-shadow: 0px 4px 30px 0px #2e2d740d;
  border: 1px solid #e0e2e7;
  border-radius: 12px;
  padding: 24px;
}

.addbrand2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.addbrand2 label {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #32343e;
  margin: 0;
}

.addbrand2 input {
  width: 100%;
  height: 46px;
  background: #ffffff;
  border: 1px solid #e0e2e7;
  outline: none;
  border-radius: 8px;
  padding-left: 10px;
}

.addbrand2 input ::placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #858d9d;
  margin: 0;
}

.addbrand3 {
  width: 100%;
  height: 160px;
  background: #ffffff;
  border: 1px solid #e0e2e7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.addbrand4{
  width: 300px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addbrand4 img{
  width: 100%;
  height: 100%;
}

/* edit brand css  */

.editbrand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.editbrand button:nth-child(1) {
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: #77878f;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
}

.editbrand button:nth-child(2) {
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: #245196;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
}
